@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
    gap: 16px;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.header-links ul{
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.header-links ul a {
    text-decoration: none;
    color: #e5e7eb;
}

.content-section {
    display: flex;
    padding: 50px 10%;
    justify-content: space-between;
    gap: 100px;
}

.item {
    flex: 1 1 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-img {
    height: 128px;
    width: 128px;
    border-radius: 15px;
    border:2px solid #3882f6;
}

.card-text {
    color: #6c6c6c;
    text-align: center;
    width: 128px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-credit {
    color: black;
    align-self: flex-end;
}

.CTA-box {
    display: flex;
    background-color: #3882f6;
    padding: 24px 75px;
    border-radius: 10px;
    margin: 0px 70px;
    flex: 1;
    justify-content: space-between;
}

.CTA-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.CTA-box p {
    color: #e5e7eb;
}

.CTA-box .vertical {
    gap: 8px;
}

.CTA-box .button {
    border: white 2px solid;
    height: min-content;
    align-self: center;
}

.footer {
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    font-size: 16px;
}

.color1 {
    background-color: #1F2937;
    color: white;
}

.color2 {
    background-color: white;
    color: black;
}

.color3 {
    background-color: #f0efef;
    color: black
}

button {
    padding: 8px 16px;
}


